{% extends 'shopping/main.html'%}
{% block content%}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Detail page</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        
            <nav>
                <div class="container">
                    <div class="logo">
                        <img src="{% static 'images/logo-white.png' %}" alt="">
                    </div>
                    <div class="menu">
                        <ul id = "menu-icon">
                            <li><a href="{% url 'home'%}">Home</a></li>
                            <li><a href="{% url 'product' %}">Products</a></li>
                            <li><a href="">Accounts</a></li>
                            <li><a href="">Contact us</a></li>
                        </ul>
                        <a href="{% url 'cart'%}" class="cart-logo"><img src="{% static 'images/cart.png' %}" alt=""></a>
                        <div id="toggle" onclick="abc()"><img src="{% static 'images/menu.webp' %}" alt="" width="30px" height="30px" ></div>

                    </div> 
                </div>
            </nav>
<!------------------------------------------------------------------>
            <div class="product-detail">
                <h2>Product Details</h2>
            </div>


            <div class="container-10">
                {% for product in products%}
                <div class="child first-1">
                  
                    <div class="main-image"><img src="{{product.imageURL}}" alt="" id="change"></div>
                    <div class="holder">
                        <div class="child-image1 common-items"><img src="{% static 'images/product1.jpg' %}" alt="" class="magic"></div>
                        <div class="child-image2 common-items"><img src="{% static 'images/product2.jpg' %}" alt="" class="magic"></div>
                        <div class="child-image3 common-items"><img src="{% static 'images/product3.jpg' %}" alt="" class="magic"></div>
                        <div class="child-image4 common-items"><img src="{% static 'images/product4.jpg'%}" alt="" class="magic"></div>
                        
                    </div>
                

                </div>
                <div class="child second-1">
                    <div class="description"><span>{{product.name}}</span>
                        <span>${{product.price}}</span>
                        <p>{{product.title}}</p>
                    </div>
                        <div class="size"><p>Size:</p>
                            <div class="wrapper">
                                <input type="radio" value="" id="uni">
                                <input type="radio" class="sizebutton" name="grp" id="radio-btn1" data-product="{{product.id}}" value="S"><label for="radio-btn1" class="radio-btn">S</label>
                                <input type="radio" class="sizebutton" name="grp" id="radio-btn2" data-product="{{product.id}}" value="M"><label for="radio-btn2" class="radio-btn">M</label>
                                <input type="radio" class="sizebutton" name="grp" id="radio-btn3" data-product="{{product.id}}" value="L"><label for="radio-btn3" class="radio-btn">L</label>
                                <input type="radio" class="sizebutton" name="grp" id="radio-btn4" data-product="{{product.id}}" value="XL"><label for="radio-btn4" class="radio-btn">XL</label>
                                <input type="radio" class="sizebutton" name="grp" id="radio-btn5" data-product="{{product.id}}" value="XXL"><label for="radio-btn5" class="radio-btn">XXL</label>

                            </div>
                        </div>
                        <p id="extra"></p>
                        <div class="quantity">Quantity:
                            <div class="btn-class "><button data-product="{{product.id}}" data-action="add" class="quantity-btn">+</button>
                                {% if orderitems.quantity%}
                                <span id="quantityadded">{{orderitems.quantity}}</span>
                                {% else %}
                                <span id="quantityadded">1</span>
                                {% endif %}
                                   
                                <button data-product="{{product.id}}" data-action="remove" class="quantity-btn">-</button>
                            </div>
                            <button class="button-1" id="button-1" value="" quantity="1">Add to cart</button>
                        </div><br>
                    
                    </div>              
            </div>{% endfor %}
            <!-------------related products------------------------>
            <div class="container-11">
                <div class="related-text">
                    <h2>Related Products</h2>
                </div>
                <div class="mini-container">
                   
                        <div class="product-item">
                            <a href="" class="product"><img src="{% static 'images/product1.jpg' %}" alt=""></a>
                            <div class="product-info">
                                <span class="product-category">tshirt</span>
                                <span class="product-desc">superdery black</span>
                                <span class="product-desc">$450</span>
                                <button><a href="">Add to Cart</a></button>
    
                            </div>
                        </div>
                        <div class="product-item"><a href="" class="product"><img src="{% static 'images/product2.jpg' %}" alt=""></a>
                            <div class="product-info">
                                <span class="product-category">tshirt</span>
                                <span class="product-desc">superdery black</span>
                                <span class="product-desc">$450</span>
                                <button><a href="">Add to Cart</a></button>
    
                            </div>
                        </div>
                        
                        
                    
                </div>
            </div>
<!----------------------------------------footer------------------------------------------------>
            <footer>
                <div class="footer-main">
                    <div class="logo">
                        <img src="{% static 'images/logo-white.png' %}" alt="">
                        <p>our goal is to fulfill your desire with best clothings</p>
                    </div>
                    
                    <div class="socialmedia">
                        <h4>Follow us on</h4>
                        <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Youtube</a></li>
                        </ul>  
                    </div>
                </div>
            </footer>
            <script>
     

                var menuIcon = document.getElementById("menu-icon");
                 var btn = document.getElementById("toggle");
       
                 
                 
                 function abc(){
                   if ( menuIcon.style.maxHeight=="200px"){
                       
                       menuIcon.style.maxHeight="0px";
                      menuIcon.style.visibility="hidden";  
                   }
                   else
                   {
                       menuIcon.style.maxHeight="200px";
                       menuIcon.style.visibility="visible";
                       
                      console.log('button')
                   }
                 }
                 var user = '{{request.user}}'
                 console.log(user)
             </script>
            
    
        </body>
        <script src="{% static 'js/main.js' %}"></script>
    </html>
    {%endblock content%}